.profile {
    padding: 74px 0 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__header {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.profile__form {
    padding-top: 106px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 203px;
}

.profile__inputs {
    display: flex;
    flex-direction: column;
    width: 410px;
}

.profile__label {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 16px 0 18px;
    box-sizing: border-box;
}

.profile__label:first-child {
    border-bottom: 1px solid #E8E8E8;
}

.profile__input {
    color: #000;
    text-align: right;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 0;
}

.profile__input::placeholder {
    color: #000;
    text-align: right;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__input:focus {
    outline: none;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile__button {
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;
}

.profile__button:last-child {
    color: #EE3465;
    font-weight: 500;
}

.profile__button:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile {
        padding-top: 236px;
        padding-bottom: 0;
    }

    .profile__label {
        padding-bottom: 17px;
    }

    .profile__form {
        padding-top: 80px;
        gap: 194px;
    }
}

@media screen and (max-width: 460px) {
    .profile {
        padding: 70px 30px 40px;
    }

    .profile__form {
        width: 100%;
        padding-top: 64px;
        gap: 360px;
    }

    .profile__inputs {
        width: auto;
    }

    .profile__label {
        padding-bottom: 18px;
    }

    .profile__button {
        font-size: 12px;
    }

}
