:root {
    --color-vivid-green: #2BE080;
}

a {
    display: block;
    text-decoration: none;
    transition: opacity .4s ease;
}

a:visited {
    color: #000;
}

a:hover {
    cursor: pointer;
    opacity: .5;
}

a:focus-visible {
    outline: none;
}

button {
    transition: opacity .4s ease;
}

button:hover {
    cursor: pointer;
    opacity: .5;
}

.App {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #fff;
    font-family: Inter, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.page__container {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
}


