.link {
    display: block;
    text-decoration: none;
    transition: opacity .4s ease;
    color: #000;
}

.link:visited {
    color: #000;
}

.link:hover {
    cursor: pointer;
    opacity: .5;
}

.link:focus-visible {
    outline: none;
}
